# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/osx-64/ca-certificates-2019.3.9-hecc5488_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libcxxabi-8.0.0-2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/xz-5.2.4-h1de35cc_1001.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/zlib-1.2.11-h1de35cc_1004.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libcxx-8.0.0-2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/openssl-1.1.1b-h01d97ff_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/tk-8.6.9-ha441bb4_1001.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libffi-3.2.1-h6de7cb9_1006.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/ncurses-6.1-h0a44026_1002.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libedit-3.1.20170329-hcfe32e1_1001.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/readline-7.0-hcfe32e1_1001.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/krb5-1.16.3-hcfa6398_1001.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/sqlite-3.26.0-h1765d9f_1001.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libpq-11.2-h56406e1_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/python-3.6.7-h8dc6b48_1004.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/certifi-2019.3.9-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/cx_oracle-7.1.2-py36h1de35cc_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/psycopg2-2.8.2-py36h212c5bf_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/setuptools-41.0.1-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/wheel-0.33.1-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pip-19.1-py36_0.tar.bz2
